.materials-container {
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 30px;
}

.material-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.material-name {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.material-quantity,
.material-price,
.material-ptu {
  font-size: 16px;
  color: #555555;
}

.material-quantity strong,
.material-price strong,
.material-ptu strong {
  font-weight: bold;
  color: #333333;
}


.btn-info:hover {
  background-color: #5f2c82;
}

.btn-secondary {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background-color: #555555;
}

.btn-secondary:hover {
  background-color: #333333;
}
.add-material-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.add-material-form h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.add-material-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.add-material-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.add-material-form input[type="text"],
.add-material-form input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
  position: relative;
  z-index: 1;
}

.add-material-form input[type="text"]:focus + label,
.add-material-form input[type="number"]:focus + label {
  top: -1rem;
  left: 0;
  font-size: 0.8rem;
  color: #0069d9;
}

.add-material-form button[type="submit"],
.add-material-form button[type="button"] {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-material-form button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-material-form button[type="submit"]:not(:disabled):hover {
  background-color: #0069d9;
}

.material-list {
  font-size: 14px;
  color: #555;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.material-actions-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.material-actions-toggle {
  border: none;
  background-color: transparent;
  color:  #6c757d;
  font-size: 1.5rem;
  cursor: pointer;
}

.material-actions-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  animation: slide-down 0.2s ease;
}

@keyframes slide-down {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.material-actions-menu button {
  display: block;
  margin-bottom: 0.5rem;
}