body {
  background-color: #6495ED;
}
/* MaterialList */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

li button {
  margin-left: 0.5rem;
}

li button:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  li {
    flex-direction: column;
  }

  li button {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}


/* Default styles */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}



th,
td {
  text-align: center ;
  vertical-align: top;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}


.m-list {
  margin: 0;
  padding-right: 10px; /* add some padding to separate items */
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 4px;
  }

  button {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 2px;
  }

  button {
    font-size: 12px;
  }
}



.m-list{
  margin: .2rem 0;
}
.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 0.2em;
}

/* Button Style 2 */
.custom-btn-1 {
  background-color: #008CBA;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  text-align: center;
  margin: 0 .3rem !important;
  cursor: pointer;
}

.custom-btn-1:hover {
  background-color: #006d8f;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 0.5em;
}

@media (max-width: 768px) {
  .mqc-c {
    height: auto;
    padding: 20px;
  }
}
.mqc {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  outline: 0;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}


.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.show {
  display: block !important;
}

.btn-mt {
  font-size: 12px !important;
}

.btn-action {
  font-size: 12px !important;
  display: flex;
  gap: .5rem;
}